* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.img-container {
  width: 200px;
}
img {
  width: 100%;
}
.container {
  box-shadow: 1px 1px 10px rgb(203, 203, 203);
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(10, 76, 110);
  text-transform: capitalize;
  font-size: 1.2rem;
}

.nav-link {
  margin: 0 0.5rem;
}

.header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.toggleBtn {
  display: none;
}

li {
  list-style: none;
}

.social li {
  margin: 0 0.3rem;
}

.social_link > * {
  columns: red;
}

.toggleBtn {
  border: none;
  background-color: transparent;
  /* padding: 1rem; */
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(59, 164, 196);
  transition: all 0.4s;
}

.toggleBtn:hover {
  color: rgb(24, 67, 80);
}
li:has(.nav-link),
.links {
  transition: all 0.4s;
}

.links {
  /* height: 2rem !important; */
}

@media (max-width: 850px) {
  .toggleBtn {
    display: block;
  }
  .social {
    display: none;
  }
  .container {
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: end;
  }
  .header {
    width: 100%;
  }
  .links {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .links > .d-flex {
    flex-direction: column;
    /* align-items: center; */
  }
  li:has(.nav-link) {
    margin: 0.8rem 0;
  }
  li:has(.nav-link) a {
    transition: all 0.4s;
  }
  li:has(.nav-link) a:hover {
    padding-left: 0.6rem;
  }
  .show-links {
    height: 16rem;
  }
}

@media (min-width: 851px) {
  .links {
    height: auto !important;
  }
}
